@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333438;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-neue-montreal);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-neue-montreal), Arial, Helvetica, sans-serif;
}

html,
body {
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.oh-reveal {
  --lines: 3;
  --dur: 700ms;
  --ease: cubic-bezier(.16, 1, .3, 1);

  clip-path: inset(100% 0 0 0);
  transform: translateY(14px);
  will-change: clip-path, transform;
}

.oh-reveal[data-reveal="on"] {
  animation:
    oh-clip var(--dur) steps(var(--lines)) both,
    oh-pop  var(--dur) var(--ease) both;
}

@keyframes oh-clip {
  from { clip-path: inset(100% 0 0 0); }
  to   { clip-path: inset(0% 0 0 0); }
}

@keyframes oh-pop {
  from { transform: translateY(14px); }
  to   { transform: translateY(0px); }
}

/* =========================
   VIEW TRANSITIONS (VACKO)
   ========================= */

::view-transition-group(root) {
  z-index: 9999;
}

html[data-vt="on"] ::view-transition-old(root),
html[data-vt="on"] ::view-transition-new(root) {
  mix-blend-mode: normal;
  animation-fill-mode: both;
  will-change: transform, opacity;
}

::view-transition-new(root) { z-index: 2; }
::view-transition-old(root) { z-index: 1; }

:root {
  --vt-dur: 1200ms;
  --vt-ease: cubic-bezier(0.14, 0.88, 0.18, 1);
}

@media (pointer: coarse), (max-width: 768px) {
  :root {
    --vt-dur: 700ms;
  }
}

::view-transition-old(root) {
  animation: vacko-old var(--vt-dur) linear both;
}

::view-transition-new(root) {
  animation: vacko-new var(--vt-dur) var(--vt-ease) both;
}

@keyframes vacko-new {
  from { transform: translate3d(0, -110%, 0); }
  to   { transform: translate3d(0, 0%, 0); }
}

@keyframes vacko-old {
  from { opacity: 1; }
  to   { opacity: 0.92; }
}